@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    /* background-color: #5372F0; */
    background: #06BDC1;
    background: -webkit-radial-gradient(center, #06BDC1, #68469F);
    background: -moz-radial-gradient(center, #06BDC1, #68469F);
    background: radial-gradient(ellipse at center, #06BDC1, #68469F);

}

.wrapper {
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 35px 10px;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    /* word-break: break-all; */
}

.content .author {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* align-items: center; */
}

.features ul {
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5372F0;
    border: 2px solid #5372F0;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.features ul li:hover {
    background-color: #5372F0;
    color: #fff;
}

.features button {
    border-radius: 25px;
    height: 40px;
}

button .loading {
    opacity: 0.8;
    pointer-events: none;
}

@media(max-width: 400px) {
    body {
        display: flex;
        justify-content: center;
    }
    .btn {
        padding: 0 8px;
        font-size: 0.8rem;
    }
    .wrapper {
        width: calc( 350px);        
    }
}
